_flows/02_python.yaml
id: 02_python
namespace: company.team

description: This flow will install the pip package in a Docker container, and use kestra's Python library to generate outputs (number of downloads of the Kestra Docker image) and metrics (duration of the script).

tasks:
  - id: pull_images
    type: io.kestra.plugin.scripts.python.Script
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
    containerImage: python:3.13-slim
    dependencies:
      - requests
      - kestra
    script: |
      from kestra import Kestra
      import requests
      def get_docker_images_downloads(image_name: str="library/python"):
        url = f"https://hub.docker.com/v2/repositories/{image_name}/"
        response = requests.get(url)
        data = response.json()
        downloads = data.get("pull_count","not avaible")
        return downloads
      downloads = get_docker_images_downloads()
      Kestra.outputs ({
          "downloads": downloads})
        
      

  - id: logs
    type: io.kestra.core.tasks.log.Log
    message: "Docker pulls: {{ outputs.pull_images.vars.downloads }}"



